/*
Info: CSS for HTML Lesson 3, HTML5 Overview homework, Task 3, Runners home
Author: Removed for reasons of anonymity
Successfully checked as (CSS level 3) in W3C CSS Validator
*/
/* CLEAR BROWSER DEFAULT VALUES */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	/*line-height: 1;*/
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END CLEAR BROWSER DEFAULT VALUES */

/* START MAIN CSS */

/* RESTORE HEADINGS VALUES */
h1 {
    display: block;
    font-size: 3.1em;
    font-weight: bold;
    margin: 0.7em 0.1em 0.5em;
 }
 
h2 /*,
:-moz-any(article, aside, nav, section) h1*/ {
   display: block;
   font-size: 1.5em;
   font-weight: bold;
   margin: .83em 0;
 }
 
 h3 /*,
:-moz-any(article, aside, nav, section)
:-moz-any(article, aside, nav, section)  h1*/ {
   display: block;
   font-size: 1.17em;
   font-weight: bold;
   margin: 1em 0;
 }
 
 h4 /*,
:-moz-any(article, aside, nav, section)
:-moz-any(article, aside, nav, section)
:-moz-any(article, aside, nav, section) h1*/ {
   display: block;
   font-size: 1.00em;
   font-weight: bold;
   margin: 1.33em 0;
 }
 
 h5 /*,
:-moz-any(article, aside, nav, section)
:-moz-any(article, aside, nav, section)
:-moz-any(article, aside, nav, section)
:-moz-any(article, aside, nav, section) h1*/ {
   display: block;
   font-size: 0.83em;
   font-weight: bold;
   margin: 1.67em 0;
 }
 
 h6 /*,
:-moz-any(article, aside, nav, section)
:-moz-any(article, aside, nav, section)
:-moz-any(article, aside, nav, section)
:-moz-any(article, aside, nav, section)
:-moz-any(article, aside, nav, section) h1*/ {
   display: block;
   font-size: 0.67em;
   font-weight: bold;
   margin: 2.33em 0;
 }
/* END RESTORE HEADINGS VALUES */

/* START RUNNERS CSS */
body {
	/* For test the exact view */
	/*background: url(../images/tests/runners-home.png) no-repeat;*/
}

.wrapper {
	padding: 25px 12px;
}

.divider {
	background: #C0C0C0; 
	border: none; 
	height: 0.1em; 
	width:100%;
}

sup {
	vertical-align: super;
	font-size: smaller;
	line-height: normal;
}
h1 sup {
    font-size: smaller;
    line-height: normal;
    vertical-align: top;
}
header span {
	font-size: 1.5em;
}
.main-info {
    display: block;
    font-size: 2.32em;
    font-weight: bold;
    margin: 0.8em 0 0.85em;
}
.main-info sup {
    font-size: smaller;
    line-height: normal;
    vertical-align: top;
}
ul {
    font-size: 1.46em;
    list-style: disc outside none;
    margin-left: 2.45em;
}
ul li {
	padding-bottom: 0.05em;
    padding-left: 0.2em;
    padding-top: 0.06em;
}
section {
    margin-bottom: 1.63em;
}

footer {
    font-size: 1.5em;
    margin: 1.1em 0.1em;
    text-align: left;
}
/* END RUNNERS CSS */
