/*
Info: CSS for HTML Lesson 6, CSS Overview homework, Task 2, Color Kitchen
Author: Removed for reasons of anonymity
Successfully checked as (CSS level 3) in W3C CSS Validator http://jigsaw.w3.org/css-validator/
*/
/* CLEAR BROWSER DEFAULT VALUES */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	list-style-type: none;
    text-decoration: none;
}
tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	/*line-height: 1;*/
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
    border-collapse: separate;
    border-spacing: 2px;
}
/* END CLEAR BROWSER DEFAULT VALUES */

/* START MAIN CSS */

/* RESTORE HEADINGS VALUES */
h1 {
    display: block;
    font-size: 3.1em;
    font-weight: bold;
    margin: 0.7em 0.1em 0.5em;
 }
 
h2 /*,
:-moz-any(article, aside, nav, section) h1*/ {
    display: block;
    font-size: 1.48em;
    font-weight: bold;
    margin: 0.42em 0;
 }
 
 h3 /*,
:-moz-any(article, aside, nav, section)
:-moz-any(article, aside, nav, section)  h1*/ {
   display: block;
   font-size: 1.17em;
   font-weight: bold;
   margin: 1em 0;
 }
 
 h4 /*,
:-moz-any(article, aside, nav, section)
:-moz-any(article, aside, nav, section)
:-moz-any(article, aside, nav, section) h1*/ {
   display: block;
   font-size: 1.00em;
   font-weight: bold;
   margin: 1.33em 0;
 }
 
 h5 /*,
:-moz-any(article, aside, nav, section)
:-moz-any(article, aside, nav, section)
:-moz-any(article, aside, nav, section)
:-moz-any(article, aside, nav, section) h1*/ {
    display: block;
    font-size: 1.05em;
    font-weight: bold;
    margin: 0.5em 0;
    padding-left: 1px;
 }
 
 h6 /*,
:-moz-any(article, aside, nav, section)
:-moz-any(article, aside, nav, section)
:-moz-any(article, aside, nav, section)
:-moz-any(article, aside, nav, section)
:-moz-any(article, aside, nav, section) h1*/ {
   display: block;
   font-size: 0.67em;
   font-weight: bold;
   margin: 2.33em 0;
 }
/* END RESTORE HEADINGS VALUES */

/* START CSS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	width: 100%;
	background-image: url(../images/colorful_dots_on_black.jpg);
	background-repeat: repeat;
	font-family: Calibri;
}
body > header:nth-child(1) {
	width: 100%;
	text-align: center;
	color: yellow;
	font-weight: bold;
	font-size: 2em;
	height: 40px;
	background: linear-gradient(to right, red, red 33.3%, green 33.3%, green 67.7%, blue 67.7%);	
}
nav {
	margin-top: 15px;
	margin-left: 15px;
	background: rgba(255, 255, 255, 0.9);
	width: 15%;
	height: inherit;
	border-radius: 10px;
	position: fixed;
	padding: 5px 10px 10px;
}
nav header {
	font-size: 1.2em;
	text-decoration: underline;
	font-weight: bold;
	padding-top: 10px;
	padding-left: 10px;
}
nav ul {
	padding-left: 35px;
	list-style-image: url('../images/check.png');
	margin-top: 5px;
}
nav ul a {
	text-decoration: none;
	color: black;
}
nav ul a:visited {
	color: grey;
}
nav ul li {
	line-height: 25px;
	margin-left: -27px;
	padding-left: 5px;
	width: 110%;
	border-radius: 5px;
	list-style-position: inside;
}
nav ul li:nth-child(1):hover {
	background: red;
}
nav ul li:nth-child(2):hover {
	background: orange;
}
nav ul li:nth-child(3):hover {
	background: yellow;
}
nav ul li:nth-child(4):hover {
	background: green;
}
nav ul li:nth-child(5):hover {
	background: blue;
}
nav ul li:nth-child(6):hover {
	background: purple;
}
section article header {
	width: 100%;
	height: 30px;
	color: white;
	text-align: left;
	border-radius: 5px;
	padding-top: 5px;
	padding-left: 5px;
	font-size: 1.2em;
	margin-bottom: 10px;
}
#webColors {
	background: red;
}
#webSafeColors {
	background: orange;
	color: black;
}
#RGB {
	background: yellow;
	color: black;
}
#RGBA {
	background: green;
}

#\#HSLHSV {
	background: blue;
}

#\#lorem {
	background: purple;
}
section {
	margin-top: 215px;
}
section article {
	padding: 10px;
	margin-left: 18%;
	padding-left: 10px;
	text-align: left;
	width: 60%;
	border-radius: 15px;
	background: rgba(255, 255, 255, 0.9);
	margin-bottom: 20px;
}
section article:nth-child(1) {	
	margin-top: -200px;	
}
section article div:first-line {	
	font-style: italic;
}
span:lang(la) {
	font-style: italic;
	color: darkblue;
}
span:lang(la):after, span:lang(la):before {
content: "\"";
}
section article div:first-letter {
	font-size: 3em;
}
footer a {
	color: grey;
	font-style: italic;
}
/* END MAIN CSS */