/*
Info: CSS for HTML and CSS Lesson 7, CSS Presentation homework, Task 4, Nested <div>; Elements
Author: Removed for reasons of anonymity
Successfully checked as (CSS level 3) in W3C CSS Validator http://jigsaw.w3.org/css-validator/
*/

div {
	background: #ff9c00;
	border-radius: 120px;            
	border: 2px solid #234465;            
	padding-right: 4%;   
}