/*
Info: CSS for HTML and CSS Lesson 8, CSS-Layout
Author: Removed for reasons of anonymity
Successfully checked as (CSS level 3) in W3C CSS Validator http://jigsaw.w3.org/css-validator/
*/

body {
	font-family: Calibri, serif;
	font-size: 1.2em;
	background-color: #b5bbbf;	
}
.wrapper header, 
.wrapper  article, 
.wrapper  section {
	width: auto;
	margin: 0px;
	padding: 10px 0 0 30px;
}
.wrapper footer {
	padding: 0 !important;
} 

header {
	/*background: #*/ /* Leaved empty for the moment */
} 
/* START NAV MENU */
nav {
  background-color: #5d6569;
  border: 1px solid #dedede;
  border-radius: 5px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
  color: #888;
  display: block;
  margin: 5px 10px 5px 10px;
  overflow: hidden;
  width: 95%; 
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
  display: inline-block;
  vertical-align: middle;
  list-style-type: none;  
  -webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s; 
}
  
nav > ul > li > a > .arrow {
	margin-left: 5px;
	border-top: 5px solid #aaa;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	content: "";
	display: inline-block;
	height: 0;
	width: 0;
	vertical-align: middle;
	-webkit-transition: color 0.1s linear;
	  -moz-transition: color 0.1s linear;
	-o-transition: color 0.1s linear;
	  transition: color 0.1s linear; 
}

nav > ul > li > a {
	color: #aaa;
	display: block;
	line-height: 56px;
	padding: 0 15px;
	text-decoration: none;
}

nav > ul > li:hover {
	background-color: rgb( 40, 44, 47 );
}

nav > ul > li:hover > a {
	color: rgb( 255, 255, 255 );
}

nav > ul > li:hover > a > .arrow {
	margin-left: 5px;
	border-top-color: rgb( 255, 255, 255 );
}

nav > ul > li > ul {
	background-color: rgb( 40, 44, 47 );
	border-top: 0;
	border-radius: 0 0 5px 5px;
	box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
	display: none;
	margin: 0;
	opacity: 0;
	position: absolute;
	width: 165px;
	visibility: hidden;
	z-index: 100;
	-webkit-transiton: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-ms-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	-transition: opacity 0.2s;
}

nav > ul > li:hover > ul {
	display: block;
	opacity: 1;
	visibility: visible;
}

nav > ul > li > ul > li {
	display: block;
}

nav > ul > li > ul > li > a {
	color: #fff;
	display: block;
	padding: 12px 24px;
	text-decoration: none;
}

nav > ul > li > ul > li:hover > a {
	background-color: rgba( 255, 255, 255, 0.1);
}

nav img {
	padding: 0px;
	display: block;
}
 
/* END NAV MENU */
 
h2 a {
	text-decoration: none;
	color: green;
} 
 
article img {
	display: block;
    margin-left: auto;
    margin-right: auto;
	padding: 10px;
}
img {
	padding: 10px;
}
.task-descr > div {
    text-align: center;
}
.task-descr > div p {
    text-align: left;
}
.task-descr ul {
    text-align: left;
}
.tag-descr {
    display: inline-block;
    width: 90%;
}
.one-third {
	height: 600px !important;
	width: auto !important;
}
.one-third-2 {
	height: 500px !important;
	width: auto !important;
}
header nav ul li:last-child {
    float: right;
}
.wrapper section {
    padding: 10px 30px 10px 50px;
}
.important {
	font-weight: bold;
}
.note {
    font-style: italic;
}
.task-descr img {
    height: auto;
    width: 100%;
}
/* START FOOTER */

footer li {
	display: inline-block;	
	vertical-align: middle;
}

footer {
	text-align: center;
	background: #5d6569;
}

footer img, 
footer li img {
	width: auto;
	height: 31px;
	padding: 10px 5px;
}

footer ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

footer ul li { 
	display: inline-block;
}

footer ul li a {
	text-decoration: none;
	color: #000;
}

footer ul li a:hover
{
	color: rgb(181, 187, 191);
	background-color: rgb(93, 101, 105);
	text-shadow: rgb(224, 224, 224) 1px 1px 0px;	
}

footer ul li img:hover
{
	height: 41px;
	padding: 5px 0px;
}

.footer-info img:hover
{
	height: 31px;
	border: 1px solid black;
	margin: 9px 4px;
	padding: 0px 0px;
}
/* END FOOTER */