<div>
    <nav>
        <header>
            <h2>Navigation</h2>
        </header>
        <ul class="nav nav-pills nav-stacked">
            <li data-ng-class="{active: pageName == 'userHome'}"><a href="#/user/home">Home</a></li>
            <li data-ng-class="{active: pageName == 'userAds'}"><a href="#/user/ads">My Ads</a></li>
            <li data-ng-class="{active: pageName == 'publish'}"><a href="#/user/ads/publish">Publish New Ad</a> </ling-class>
            <li data-ng-class="{active: pageName == 'userProfile'}"><a href="#/user/profile">Edit Profile</a></li>
        </ul>
    </nav>
</div>