/*
Info: CSS for HTML and CSS Lesson 8, CSS-Layout homework, Task 1, Website Header
Author: Removed for reasons of anonymity
Successfully checked as (CSS level 3) in W3C CSS Validator http://jigsaw.w3.org/css-validator/
*/

body {
    font-family: 'PT Sans', Tahoma,sans-serif;
    font-size: 14px;
    font-weight: bold;
}
header {
    padding: 0 10px;
    background-color: #234465;
}
header > div:not(.logo-cont) {
    display: inline-block;
    float: right;
	margin: 19px 20px 0 0;
}
nav{
    padding: 0 15px;
}
#logo {
    width: 256px;
}
.logo-cont {
    padding: 0 40px 0 15px;
	display: inline-block;
}
a{
	text-decoration: none;
	color: #fff;
	font-weight: bold;
}
ul li{
list-style: none;
}
/* --- START SEARCH CSS --- */
form {
    display: inline-block;
    vertical-align: middle;
}

form input[type='text'] {
    float: left;
    padding: 0px 11px;
    height: 31px;
    width: 200px;
    font-size: 1.1em;
    color: #b8b8b8;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

form button {
    float: left;
    height: 31px;
    width: 35px;
    border: none;
    border-left: 1px solid #D5D5D5;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #fff;
}

/* --- END SEARCH CSS --- */

/* --- START USER INFO AND NAVIGATION --- */

span.notify-counter {
    color: #fff;
    vertical-align: middle;
}

span.notify{
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url('http://s30.postimg.org/prufc3br1/Soft_Uni_Bell.png') no-repeat center;
    vertical-align: middle;
}

.drop-down-arrow {
    display: inline-block;
    width: 10px;
    height: 7px;
    background: url('http://s17.postimg.org/ppljadowr/Down_Arrow.png') no-repeat center;
    vertical-align: middle;
}
.username, #notify {
    display: inline-block;
	padding: 10px 5px;
}
#notify {
    margin-right: 15px;
}
/* --- END USER INFO AND NAVIGATION --- */

/* --- START MAIN NAVIGATION --- */
.main-navigation > li {
    float: left;
    display: inline-block;
    padding: 10px 5px;
    position: relative;
	margin-right: 27px;
}
.main-navigation > li:last-child {
    margin-right: 0;
}
.user-nav {
	text-align: right;
	padding-right: 10px;
}
.main-navigation > li, .main-navigation > li a, .username {
    color: #fff;
    text-transform: uppercase;
}

.sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 3px;
    width: 350px;
    background-color: #234465;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
	padding-left: 0;
}

.sub-menu li {
    padding: 8px 0 8px 20px;
    color: #fff;
    text-align: left;
    font-weight: normal;
    border-bottom: 1px solid #285077;
}
.sub-menu li a {
    text-transform: none;
}

li.course-category a {
    color: #4CA0DB;
    font-weight: bold;
}

.sub-menu li:hover, .sub-menu li:hover a {
    color: #fff;
    background-color: #ff9c00;
}

.main-navigation > li:hover .sub-menu {
    display: block;
}

.main-navigation > li:hover, #notify:hover, .username:hover {
    background-color: #428BCA;
    border-radius: 5px;
    cursor: pointer;
}