/*
Info: CSS for HTML Lesson 6, CSS Overview homework, Task 1, World Cup Brazil
Author: Removed for reasons of anonymity
Successfully checked as (CSS level 3) in W3C CSS Validator http://jigsaw.w3.org/css-validator/
*/
/* CLEAR BROWSER DEFAULT VALUES */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	list-style-type: none;
    text-decoration: none;
}
/* START CSS */
body {
	/* For test the exact view in Mozilla. For other browsers correct main margins */
	/*background: url(../images/world-cup-brazil.png) no-repeat;*/	
}

body {
	font-family: Tahoma;
	margin: 0;
    padding: 0;
}
#wrapper {
	background: #00923e;
    height: 422px;
    padding-top: 19px;
    width: 1215px;
	margin-top: -1px;
}

table {
    background: none repeat scroll 0 0 transparent;
    border-radius: 20px;
    height: 406px;
    margin: auto;
    width: 1175px;
}
table table {
	width: 534px;
	height: 66px;
	border: none;
	margin:0;
	padding:0;
}
form, td {
	margin:0;
	padding:0;
}
table table td {
	border: none;
}
table table tr {
	height: 62px;
}
table table td:first-child {
    border-right: 2px solid #000000;
    padding-right: 10px;
    width: 160px;
}
table table td:nth-child(2) {
	border-right: 2px solid #000000;
	padding-right: 0;
	width: 129px;
}
table table td:nth-child(3) {
	border-right: 2px solid #000000;
	padding-left: 10px;
	width: 155px;
	text-align: left;
}
thead {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}
tr {
	height: 62px;
}
table,th,td {
	border:1px solid #000000;
	border-spacing: 0;
}

/* Flags background*/
.brasil {
	background: url('../images/flags/Brazil.png') no-repeat 161px 27px;	
}
.spain {
	background: url('../images/flags/Spain.png') no-repeat 161px 27px;	
}
.italy {
	background: url('../images/flags/Italy.png') no-repeat 161px 27px;	
}
.argentina {
	background: url('../images/flags/Argentina.png') no-repeat 161px 27px;	
}
.germany​ {
	background: url('../images/flags/Germany.png') no-repeat 161px 27px;	
}
.mexico {
	background: url('../images/flags/Mexico.png') no-repeat 10px 27px;	
}
.netherlands {
	background: url('../images/flags/Netherlands.png') no-repeat 10px 27px;	
}
.england {
	background: url('../images/flags/England.png') no-repeat 10px 27px;
}
.bosherz {
	background: url('../images/flags/Bosnia&Herzegovina.png') no-repeat 10px 27px;
}
.portugal {
	background: url('../images/flags/Portugal.png') no-repeat 10px 27px;
}
/* Cells and rows */
th:nth-child(1) {
	border-top-left-radius: 20px;
	width: 189px;
	text-align: right;
	padding-right: 10px !important;
}
th:nth-child(2) {
	width: 113px;
	text-align: center;
}
th:nth-child(3) {
	width: 189px;
	text-align: left;
	padding-left: 10px;
}
th:nth-child(4) {
	width: 110px;
	text-align: center;
}

td:nth-child(1) {
	text-align: right;
	padding-right: 45px;
	font-size: 20px;
	color: #000000;
}
td:nth-child(2),
td:nth-child(4) {
	text-align: center;
	font-size: 20px;
	color: #000000;
}
td:nth-child(3) {
	text-align: left;
	padding-left: 45px;
	font-size: 20px;
	color: #000000;
}
th:nth-child(5) {
	border-top-right-radius: 20px;
}
select {
    background-color: #ffffff;
    color: #008000;
    font-size: 24px;
    font-weight: normal;
    height: 44px;
    padding: 3px 0;
    text-align: center;
    width: 45px;
}
select:disabled {
    background-color: #dcdcdc;
    color: #ff0000;
}
button {
	text-transform: uppercase;
	border-radius: 20px;
	height: 45px;
	width: 45px;
	background-color: #008000;
	color: white;
	font-weight: bold;
}
button:disabled {
	background-color: #ff0000;
}
tr:last-child td:first-child {
    border-bottom-left-radius: 20px;
}
tr:last-child td:last-child {
    border-bottom-right-radius: 20px;
}
tr:nth-child(2n+1),
tr:nth-child(2n+1) tr {
    background-color: #ffffff;
}
tr:nth-child(2n+2),
tr:nth-child(2n+2) tr {
    background-color: #c8c8c8;
}
thead tr {
    background-color: #00923e !important
}
thead th {
    background-color: #f8c711;
}
/* END MAIN CSS */