<div data-main-header></div>
<div id="wrapper">
    <div class="row">
        <div class="col-md-2">
            <div data-public-sidebar data-ng-if="!isLoggedIn">
            </div>
            <div data-user-sidebar data-ng-if="isLoggedIn">

            </div>
        </div>
        <div class="col-md-8">
            <div data-public-ads>

            </div>
        </div>
        <div class="col-md-2">
            <div data-categories>

            </div>
            <div data-towns>

            </div>
        </div>
    </div>
</div>