<div class="col-md-2">
    <div data-left-public-sidebar>

    </div>
</div>
<div class="col-md-10 well bs-component">
    <form class="form-horizontal">
        <fieldset>
            <legend>User Registration</legend>
            <div class="form-group col-md-12">
                <label class="col-md-12 control-label" for="inputUsername">Username:</label>
                <div class="col-md-6">
                    <input type="text" placeholder="Username" id="inputUsername" class="form-control">
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="col-md-6">
                    <label class="col-md-12 control-label" for="inputPassword">Password:</label>
                    <div class="col-md-12">
                        <input type="password" placeholder="Password" id="inputPassword" class="form-control">
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="col-md-12 control-label" for="inputConfirmPassword">Confirm password:</label>
                    <div class="col-md-12">
                        <input type="password" placeholder="Password" id="inputConfirmPassword" class="form-control">
                    </div>
                </div>
            </div>

            <div class="form-group col-md-12">
                <div class="col-md-6">
                    <label class="col-md-12 control-label" for="inputName">Name:</label>
                    <div class="col-md-12">
                        <input type="text" placeholder="Full name" id="inputName" class="form-control">
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="col-md-12 control-label" for="inputEmail">Email:</label>
                    <div class="col-md-12">
                        <input type="text" placeholder="Email" id="inputEmail" class="form-control">
                    </div>
                </div>
            </div>

            <div class="form-group col-md-12">
                <div class="col-md-6">
                    <label class="col-md-12 control-label" for="inputPhone">Phone:</label>
                    <div class="col-md-12">
                        <input type="text" placeholder="Your phone" id="inputPhone" class="form-control">
                    </div>
                </div>
                <div class="col-md-6">
                    <label class="col-md-12 control-label" for="inputTown">Town:</label>
                    <div class="col-md-12">
                        <select id="inputTown" class="form-control">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="col-md-6 col-md-offset-2">
                    <button class="btn btn-primary" type="submit">Register</button>
                </div>
                <div class="col-md-6 col-md-offset-2">
                    <a href="#/login" class="">Login here</a>
                </div>
            </div>
        </fieldset>
    </form>
    <div class="btn btn-primary btn-xs" id="source-button" style="display: none;">&lt; &gt;</div>
</div>