/*
Info: CSS for HTML Lesson 5, HTML5 Forms homework, Task 4, Fakebook Register Form
Author: Removed for reasons of anonymity
Successfully checked as (CSS level 3) in W3C CSS Validator http://jigsaw.w3.org/css-validator/
*/
/* CLEAR BROWSER DEFAULT VALUES */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	list-style-type: none;
    text-decoration: none;
}
tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	/*line-height: 1;*/
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
    /*border-collapse: separate;
    border-spacing: 2px;*/
}
/* END CLEAR BROWSER DEFAULT VALUES */

/* START MAIN CSS */

/* RESTORE HEADINGS VALUES */
h1 {
    display: block;
    font-family: tahoma;
    font-size: 120px;
    font-weight: bold;
 }
 
h2 /*,
:-moz-any(article, aside, nav, section) h1*/ {
   display: block;
   font-size: 1.5em;
   font-weight: bold;
   margin: .83em 0;
 }
 
 h3 /*,
:-moz-any(article, aside, nav, section)
:-moz-any(article, aside, nav, section)  h1*/ {
   display: block;
   font-size: 1.17em;
   font-weight: bold;
   margin: 1em 0;
 }
 
 h4 /*,
:-moz-any(article, aside, nav, section)
:-moz-any(article, aside, nav, section)
:-moz-any(article, aside, nav, section) h1*/ {
   display: block;
   font-size: 1.00em;
   font-weight: bold;
   margin: 1.33em 0;
 }
 
 h5 /*,
:-moz-any(article, aside, nav, section)
:-moz-any(article, aside, nav, section)
:-moz-any(article, aside, nav, section)
:-moz-any(article, aside, nav, section) h1*/ {
   display: block;
   font-size: 0.83em;
   font-weight: bold;
   margin: 1.67em 0;
 }
 
 h6 /*,
:-moz-any(article, aside, nav, section)
:-moz-any(article, aside, nav, section)
:-moz-any(article, aside, nav, section)
:-moz-any(article, aside, nav, section)
:-moz-any(article, aside, nav, section) h1*/ {
   display: block;
   font-size: 0.67em;
   font-weight: bold;
   margin: 2.33em 0;
 }
/* END RESTORE HEADINGS VALUES */

/* START CSS */

/* For test the exact view in Mozilla. For other browsers correct main margins */
body {
	/*background: url(../images/fakebook-register-form.png) no-repeat;*/

}

body {
    font-family: Tahoma,sans-serif;
}
.wrapper {
    background-color: #3b5997;
    color: white;
    height: 601px;
    margin-left: 2px;
    margin-top: 0;
    width: 841px;
}
h1 span {
    font-size: 18px;
}
h2 {
    display: block;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 10px;
}
span {
    font-family: Tahoma;
    font-size: 17.7px;
    font-weight: bold;
}

header {
	text-align: center;
    margin-bottom: 36px;
}

legend {
text-align: center;
}

#form {
margin-left: 10px;
}

#leftfieldset {
	float: left;
}

#left {
    border: 1px solid white;
    border-radius: 9px;
    height: 239px;
    margin-left: 9px;
    padding: 5px 7px;
    width: 295px;
}

#left legend {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-left: 46px;
    text-align: center;
}
#right legend {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-left: 105px;
    text-align: center;
}
.non-important {
    border: 1px solid transparent;
    border-radius: 4px;
    display: inline;
    height: 25px;
    margin: 5px 0 4px 4px;
    width: 133px;
}

#birthday {
    border: 1px solid transparent;
    border-radius: 4px;
    height: 25px;
    margin-left: 4px;
    margin-top: 2px;
    width: 209px;
}
.label {
  display: block;
}
#left .label {
    display: block;
    font-family: Tahoma;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 3px;
    margin-left: 4px;
    margin-top: 1px;
}
 #gender {
    margin-top: 5px;
}

#rightfieldset {
	float: left;
	margin-left: 30px;
}

#right {
    border: 1px solid white;
    border-radius: 9px;
    float: left;
    height: 239px;
    margin-left: 7px;
    padding: 5px 6px;
    width: 441px;
}

input, select {
border-radius: 4px;
}

.address {
    border: 1px solid transparent;
    border-radius: 4px;
    height: 25px;
    margin: 0 1px 0 2px;
    width: 66px;
}

.important-info {
    border: 1px solid transparent;
    border-radius: 4px;
    height: 25px;
    margin: 5px 1px 3px 3px;
    width: 133px;
}

.three-inarow {
margin: 2px;
width: 145px;
}


#color {
    border: 1px solid transparent;
    border-radius: 4px;
    height: 29px;
    margin: 3px 0 0 5px;
    padding: 1px 0 3px;
    width: 137px;
}
#right > .three-inarow {
    vertical-align: top;
}
#water-meter {
    border: 1px solid transparent;
    border-radius: 4px;
    height: 25px;
    margin: 6px 0 0 3px;
    width: 133px;
}
#panties {
    border: 1px solid transparent;
    border-radius: 4px;
    height: 27px;
    margin: 7px 0 0 4px;
    width: 135px;
}
textarea {
    border: 1px solid transparent;
    border-radius: 4px;
    height: 64px;
    margin: -1px 0 0 5px;
    max-width: 430px;
	max-height: 71px;
	min-height: 21px;
    min-width: 218px;
    width: 425px;
}

#buttons {
    float: left;
    margin-top: 19px;
}

#clear {
    background-color: #dddddd;
    border: 1px solid transparent;
    border-radius: 9px;
    color: #3b75b3;
    float: left;
    font-size: 18px;
    height: 54px;
    margin-left: 6px;
    width: 316px;
}

#submit {
    background-color: #dddddd;
    border: 1px solid transparent;
    border-radius: 9px;
    color: #3b5997;
    float: left;
    font-size: 30px;
    height: 54px;
    margin-left: 33px;
    width: 459px;
}

#gender > input {
    margin: 0 10px 0 3px;
    padding-bottom: 0;
    padding-left: 0;
    padding-top: 0;
}

#gender > label {
    font-size: 12px;
    font-weight: bold;
    padding-right: 13px;
}

#country {
    height: 27px;
    margin: 0 0 5px 5px;
    padding-top: 4px;
    width: 135px;
}

.important-info:nth-child(n+5) {
    margin-left: 5px;
}

#right .label {
    font-family: Tahoma;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-top: 2px;
}
#right .label:last-of-type {
    padding-top: 5px;
}
/* END MAIN CSS */