/*
Info: CSS for HTML Lesson 5, HTML5 Forms homework, Task 1, Simple Form
Author: Removed for reasons of anonymity
Successfully checked as (CSS level 3) in W3C CSS Validator http://jigsaw.w3.org/css-validator/
*/
/* CLEAR BROWSER DEFAULT VALUES */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	list-style-type: none;
    text-decoration: none;
}
tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	/*line-height: 1;*/
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
    border-collapse: separate;
    border-spacing: 2px;
}
/* END CLEAR BROWSER DEFAULT VALUES */

/* START MAIN CSS */

/* RESTORE HEADINGS VALUES */
h1 {
    display: block;
    font-size: 3.1em;
    font-weight: bold;
    margin: 0.7em 0.1em 0.5em;
 }
 
h2 /*,
:-moz-any(article, aside, nav, section) h1*/ {
    display: block;
    font-size: 1.48em;
    font-weight: bold;
    margin: 0.42em 0;
 }
 
 h3 /*,
:-moz-any(article, aside, nav, section)
:-moz-any(article, aside, nav, section)  h1*/ {
   display: block;
   font-size: 1.17em;
   font-weight: bold;
   margin: 1em 0;
 }
 
 h4 /*,
:-moz-any(article, aside, nav, section)
:-moz-any(article, aside, nav, section)
:-moz-any(article, aside, nav, section) h1*/ {
   display: block;
   font-size: 1.00em;
   font-weight: bold;
   margin: 1.33em 0;
 }
 
 h5 /*,
:-moz-any(article, aside, nav, section)
:-moz-any(article, aside, nav, section)
:-moz-any(article, aside, nav, section)
:-moz-any(article, aside, nav, section) h1*/ {
    display: block;
    font-size: 1.05em;
    font-weight: bold;
    margin: 0.5em 0;
    padding-left: 1px;
 }
 
 h6 /*,
:-moz-any(article, aside, nav, section)
:-moz-any(article, aside, nav, section)
:-moz-any(article, aside, nav, section)
:-moz-any(article, aside, nav, section)
:-moz-any(article, aside, nav, section) h1*/ {
   display: block;
   font-size: 0.67em;
   font-weight: bold;
   margin: 2.33em 0;
 }
/* END RESTORE HEADINGS VALUES */

/* START CSS */
/* For test the exact view in Mozilla. For other browsers correct main margins */
/*body {
	background: url(../images/simple-form.png) no-repeat;
}
*/
.wrapper {
	width: 775px;
	height: 422px;
	margin-top:-10px;
	padding-top:10px;
	background-color: #eeeeee;
	font-family: Tahoma, sans-serif;
}
h2 {
    color: #234465;
    padding-left: 14px;
    padding-top: 0;
}
h5 {
	text-transform: uppercase;
}
h5 span:first-child {
    color: #666666;
}

h5 span:last-child {
    color: #234465;
}

#login-invite{
    color: #7c7c7c;
    font-family: Tahoma;
    font-size: 14px;
    padding-left: 14px;
    padding-top: 10px;
    word-spacing: -0.04px;
}

#new-user {
    float: left;
    height: 250px;
    padding-left: 29px;
    padding-top: 24px;
    width: 350px;
}

#registered-user {
    float: left;
    height: 297px;
    margin-left: 5px;
    margin-top: 25px;
    padding-left: 15px;
    padding-right: 5px;
    padding-top: 0;
    width: 350px;
	background-color: #234465;
	color: white;
}
#new-user form input {
	color: #474747;
	font-family: sans-serif;
	font-size: 0.85em;
	height: 37px;
	margin-bottom: 14px;
	padding-left: 10px;
	width: 93.4%;
}
#registered-user form input {
	color: #474747;
	font-family: sans-serif;
	font-size: 0.85em;
	height: 37px;
	margin-bottom: 14px;
	padding-left: 10px;
	width: 93.4%;
}
#registered-user h5 {
    display: block;
    font-family: inherit;
    font-size: 1.065em;
    font-weight: bold;
    margin: 0.65em 0 0.81em;
    padding: 0;
}
#register-button {
    border: 2px solid #234465;
    color: #234465 !important;
    float: right;
    font-family: tahoma !important;
    font-size: 1.08em !important;
    height: 40px !important;
    margin-right: 10px;
    padding: 0 10px 0 0 !important;
    text-align: center;
    width: 48.6% !important;
}
#login-button {
    background-color: inherit;
    border: 2px solid #ff9c00;
    color: white !important;
    float: right;
    font-size: 1.2em !important;
    height: 40px !important;
    margin-bottom: 9px !important;
    margin-right: 10px;
    padding-left: 13px !important;
    padding-top: 4px;
    width: 140px !important;
}
label {
    color: white;
    display: inline-block;
    font-size: 0.7em;
    font-weight: bold;
    padding-top: 1.8px;
    vertical-align: top;
}
#remember-ckbx{
    float: left;
    height: 24px !important;
    margin-left: 1px !important;
    margin-top: 1px;
    width: 5% !important;
}
input[type="checkbox"] {
    margin-right: 5px;
    padding: 10px !important;
    transform: scale(1.5);
}
#registered-user a {
    clear: both;
    color: white;
    float: right;
    font-size: 12.5px;
    font-weight: bold;
    padding-right: 19px;
    padding-top: 1px;
    text-decoration: underline;
}
/* END MAIN CSS */