/*
Info: CSS for  HTML and CSS SoftUni Exam, Task 3, Login Search Form
Author: Petar Ivanov (Antoveravip)
Successfully checked as (CSS level 3) in W3C CSS Validator http://jigsaw.w3.org/css-validator/
*/
body {
	background: url('../images/blurred-green-background.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#wrapper {
	font-family: Arial, Helvetica, sans-serif;
}

#login {
    height: 265px;
    margin: 0 auto;
    width: 350px;
	background: #f2f8ed;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#search {
	height: 34px;
	margin: 25px auto 0;
    width: 350px;

}
.searchInp {
	padding: 5px;
	width: 235px;
	margin: 0;
}
header {
	background: #93d55c;
	color: #ffffff;
	text-align: center;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
fieldset {
    border: medium none;
}
#username,
#password {
	display: block;
	width: 280px;
	margin: 0;
	border: none;
	padding-left: 25px;
}
.informs {
	border: 1px solid #cccccc;
	border-radius:2px;
	padding:5px;
	padding-left:10px;
	margin:10px 0;
	background: #ffffff;
	
}
#submit {
    background: none repeat scroll 0 0 #5cb85c;
	height: 30px;
    margin-top: 22px;
    width: 326px;
}
#userIcon,
#passwordIcon,
#searchbtn {
	position: relative;
	font-family: Glyphicons Halflings;
}
#userIcon:before {
    content: "\e008";
    font-family: Glyphicons Halflings;
    color: #000;
    font-size: 15px;
    position: absolute;
	background: none repeat scroll 0 0 #eeeeee;
    border: 1px solid #cccccc;
	left: -11px;
	top: -6px;
	padding: 5px;
}
#passwordIcon:before {
    content: "\e033";
    font-family: Glyphicons Halflings;
    color: #000;
    font-size: 15px;
    position: absolute;
	background: none repeat scroll 0 0 #eeeeee;
    border: 1px solid #cccccc;
	left: -11px;
	top: -6px;
	padding: 5px;
}
#search-button {
    background: none repeat scroll 0 0 #5cb85c;
    font-size: 16px;
    padding: 5px 5px 5px 10px;
    width: 100px;
	border: none;
}
#searchbtn:before {
    content: "\e003";
    font-family: Glyphicons Halflings;
    color: #fff;
    font-size: 15px;
    position: absolute;
	left: 3px;
	top: -2px;
	padding: 5px;
}
@font-face {
    font-family: Glyphicons Halflings;
    src: url(fonts/glyphicons-halflings-regular.ttf) format('truetype');
}